html {
    padding: 20px;
}

.container {
    position: absolute;
    top: 70%;
    left: 20%;
    right: 30%;
}

.btn {
    margin-bottom: 20px;
}

.js-div {
    text-align: center;
    top: 20px;
    left: 0;
}
    

.title {
    text-align: center;
}


